@import "tailwindcss";

@theme {
    /* Colors */
    --color-brand-white: var(--background-white);
    --color-brand-cream: var(--background-cream);
    --color-brand-nav: var(--nav-bg);
    --color-brand-heading: var(--color-heading);
    --color-brand-paragraph: var(--color-paragraph);
    --color-brand-primary: var(--color-primary);
    --color-brand-primary-hover: var(--color-primary-hover);
    --color-brand-button: var(--color-primary);
    --color-brand-button-hover: var(--color-primary-hover);
    --color-neutral-bg: var(--color-neutral-bg);
    --color-neutral-border: var(--color-neutral-border);

    /* Fonts */
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    /* Custom Animations/Effects */
    --animate-fade-in: fade-in 0.5s ease-out;

}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

:root {
    --background-white: #ffffff;
    --background-cream: #faf3e1;
    --nav-bg: #ffffff;
    --color-heading: #000000;
    --color-paragraph: #4b5563;
    --color-primary: #baa360;
    --color-primary-hover: #8f7b44;
    --color-neutral-bg: #f8fafc;
    --color-neutral-border: #e2e8f0;
}

body {
    background-color: var(--background-white);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
    font-family: var(--font-sans);
    font-weight: 700;
    letter-spacing: 0.01em;
}

/* Paragraph */
p {
    line-height: 1.6;
    font-weight: 400;
}

button,
a {
    transition: all 0.3s ease-in-out;
    font-family: var(--font-sans);
}